<!-- <div class="header">

    <span class="last-update">עדכון אחרון: 22/08/23</span>
    <div class="subtitle">
        <h3> פורטל הBI של משרד החינוך </h3>
        <div class="img-logo"></div>
        <button class="navbar-toggle" (click)="toggleNavbar()">X</button>

    </div>

</div>



<div class="content">
    <router-outlet></router-outlet>
</div>

<div [ngClass]="{'navbar-open': isNavbarOpen}" class="navbar">
    <p-panelMenu [model]="menuItems"></p-panelMenu>
</div>


<router-outlet *ngIf="selectedGraph === 0"></router-outlet>
<router-outlet *ngIf="selectedGraph !== 0" name="graphOutlet"></router-outlet> -->


<!-- <div class="header">
    <span class="last-update">Recorded: 22/08/23</span>
    <div class="subtitle">
      <h3> Contact BI for free </h3>
      <div class="img-logo"></div>
      <button class="toggle_navigationbar" (click)="toggleNavbar()">X</button>
    </div>
  </div>
  
  <div class="container">
    <div class="navigation" [ngClass]="{'navbar-open': isNavbarOpen}">
      <p-panelMenu [model]="menuItems"></p-panelMenu>
    </div>
  
    <div class="content">
      <app-home-page></app-home-page>
      <router-outlet *ngIf="selectedGraph === 0"></router-outlet>
      <router-outlet *ngIf="selectedGraph !== 0" name="graphOutlet"></router-outlet>
    </div>
  </div> -->



  <div class="header">
    <span class="last-update">Recorded: 22/08/23</span>
    <div class="subtitle">
      <h3>Contact BI for free</h3>
      <div class="img-logo"></div>
      <button class="toggle_navigationbar" (click)="toggleNavbar()">X</button>
    </div>
  </div>
  <div class="container">
    <div class="navigation" [ngClass]="{'navbar-open': isNavbarOpen}">
      <p-panelMenu [model]="menuItems"></p-panelMenu>
    </div>
  
    <div class="content">
     
  
      <app-home-page></app-home-page>
      <router-outlet *ngIf="selectedGraph === 0"></router-outlet>
      <router-outlet *ngIf="selectedGraph !== 0" name="graphOutlet"></router-outlet>
    </div>
  </div>